src/Nd.Framework/Configuration/NdFrameworkConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Nd.Framework.Configuration" elementFormDefault="qualified" targetNamespace="urn:Nd.Framework.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="nd_framework" type="tns:Nd.Framework.Configuration.NdFrameworkConfigSectionCT" />
	<xs:complexType name="Nd.Framework.Configuration.NdFrameworkConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="logging" type="tns:Nd.Framework.Configuration.LoggingElementCT">
				<xs:annotation>
					<xs:documentation>The Logging.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="core" type="tns:Nd.Framework.Configuration.CoreElementCT">
				<xs:annotation>
					<xs:documentation>The Core.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.LoggingElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="errorLogger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ErrorLogger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoLogger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InfoLogger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.CoreElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hasAOP" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The HasAOP.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultLifeStyle" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultLifeStyle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
