src/Nd.Framework/Configuration/NdFrameworkConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Nd.Framework.Configuration" elementFormDefault="qualified" targetNamespace="urn:Nd.Framework.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="nd_framework" type="tns:Nd.Framework.Configuration.NdFrameworkConfigSectionCT" />
	<xs:complexType name="Nd.Framework.Configuration.NdFrameworkConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="logging" type="tns:Nd.Framework.Configuration.LoggingElementCT">
				<xs:annotation>
					<xs:documentation>日志记录</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="objectContainer" type="tns:Nd.Framework.Configuration.ObjectContainersElementCT">
				<xs:annotation>
					<xs:documentation>IOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bus" type="tns:Nd.Framework.Configuration.TopicElementCollectionCT">
				<xs:annotation>
					<xs:documentation>消息总线</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="webAPI" type="tns:Nd.Framework.Configuration.WebAPIElementCT">
				<xs:annotation>
					<xs:documentation>The WebAPI.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.LoggingElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>日志记录器提供者</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="errorLogger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ErrorLogger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoLogger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InfoLogger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.ObjectContainersElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>IOC服务提供者</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hasInterceptor" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>存在拦截器</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultLifeStyle" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>默认生命周期</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.TopicElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="topic" type="tns:Nd.Framework.Configuration.TopicElementCT">
				<xs:annotation>
					<xs:documentation>The TopicElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>消息总线服务提供者</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isAvailable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>是否可用</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>主机路径</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.TopicElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>主题名称</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queueNumber" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>队列数量</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="messageType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>消息类型</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Framework.Configuration.WebAPIElementCT">
		<xs:attribute name="isNeedMethodAttribute" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsNeedMethodAttribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="currentAppHostUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CurrentAppHostUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dbConnectionKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DbConnectionKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
